@import "./scss/config";

body {
  position: relative;
  direction: rtl;
  overflow-x: hidden;
  scrollbar-width: none;
  font-family: "Cairo", sans-serif;
  background-color: #8e183713 !important;
  @import "./scss/layout";
  @import "./scss/form_ui";
  @import "./scss/error-page";
  @import "./scss/home";
  @import "./scss/auth_section";
  @import "./scss/faq";
  @import "./scss/duas";
  main {
    min-height: calc(100dvh - 300px);
  }

  &.en {
    font-family: "Lato", sans-serif;
    direction: ltr;

    .form_ui .input-field .pass-group {
      input {
        border-radius: 12px 0 0 12px !important;
        border-right: 0 !important;
        border-left: 1px solid $input_stroke !important;
      }
      .show-pass {
        border-radius: 0 12px 12px 0 !important;
        border-left: 0 !important;
        border-right: 1px solid $input_stroke !important;
      }
    }

    header nav .nav_links {
      @media screen and (max-width: 1200px) {
        right: initial;
        left: -100%;
        &.open {
          left: 0;
        }
      }
    }

    .back_btn i {
      transform: scale(-1);
    }
  }
}
